.messages-container {
    overflow-y: scroll;
    margin:1rem 0;
    box-shadow: 2px 2px 2px 2px rgba(92, 95, 95, 0.603);;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    width: 60vw;
    height: 100%;
}

.select-chat{
    padding:10px;
}

.image-container{
    height: 50px;
}

.rounded-circle{
    height: 100%;
}

.message{
    margin-bottom: 10px;
}

.first-name-and-last-name{
    font-size: .9rem;
}

.timestamp{
    font-size: small;
}

.chat-area{
    height: 90vh;
    background-color: rgba(229, 243, 252, 0.432);
}

.message-container {
    border-top: 2px solid  rgba(92, 95, 95, 0.144);
    background-color: rgba(137, 43, 226, 0.637);
    width:100%;
    align-items: center;
    justify-content: center;
}